/* =========================================================================
   Opacity Utility Classes
   ========================================================================= */
// Defines utility classes for applying various opacity levels to elements.

.opacity-05 { opacity: .05; }                // 5% opacity
.opacity-1 { opacity: .10; }                 // 10% opacity
.opacity-2 { opacity: .20; }                 // 20% opacity
.opacity-3 { opacity: .30; }                 // 30% opacity
.opacity-4 { opacity: .40; }                 // 40% opacity
.opacity-5 { opacity: .50; }                 // 50% opacity
.opacity-6 { opacity: .60; }                 // 60% opacity
.opacity-7 { opacity: .70; }                 // 70% opacity
.opacity-8 { opacity: .80; }                 // 80% opacity
.opacity-9 { opacity: .90; }                 // 90% opacity